* {
    padding: 0 ;
    margin: 0;
    box-sizing:border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/* ---------------- Navigation -----------*/




nave ul{
    display:flex;
    justify-content: center;
    background-image: url(blue.jpg);
    margin-bottom: 0;
}



nave ul li {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 5px 5%;
    cursor: pointer;
    color:white;
    border-style:dotted;
    border-color:white;
    border-width: 2px;
}


/* ------- Coloriage du texte en blanc ------- */

p, h1, h2, h3, h4, .titre, #titre {
    color:white;
    font-family: 'Grandstander', cursive;
}


/* -------- Section ------------*/

section {
    background-image: url(green.jpg);
    height:auto;
    width:auto;
}



/*---------- Page 1 ----------*/

#contenu1 {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    width:auto;
    height:auto;
}

#gauche1 {
    padding-top: 100px;
}

#droite1{
    padding-top: 150px;
}


p.resume {

    font-size:30px;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size:30px;
}
/*--------- Page 2 --------- */

#contenu2 {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    width:auto;
    height: 100%;
}

p .titre {
    text-align: center;
}

/*--------- Page 3 ----------*/

#contenu3 {
    width: auto;
    height: 100%;
}


#formation1, #formation2, #formation3, #formation4, #formation5{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
    

#caroussel {
    display: flex;
    justify-content: center;
    padding-top:50px;
}

#titre {
    text-align: center;
    padding-top: 50px;
}


/*--------- Page 4 --------- */

#contenu4 {
    display:flex;
    justify-content: space-around;
    width: auto;
    height: 100%;
}


#droite4, #gauche4 {
    padding-top: 100px;
    padding-bottom: 10px; ;
}

p.contact {
    font-size:20px;
    text-align: center;
}
